# Apuntes Pandas

In [61]:
#Para ver las versión de pandas
import pandas as p 
pandas.__version__

#Nota:
#     No sé por qué demonios me dice que pandas no existe :'v, pero funciona en todos los programas
#     A veces funciona a veces no :'v

NameError: name 'pandas' is not defined

In [57]:
import numpy as np 
import math as mt

Series pandas

In [33]:
# Series debe ir con mayúscula
dataR = p.Series([0.3,0.1,5,np.pi,np.sin(np.sqrt(2))])
dataR

0    0.300000
1    0.100000
2    5.000000
3    3.141593
4    0.987766
dtype: float64

In [34]:
#Podemos acceder a los valores con el siguiente comando
dataR.values
#Es NombredelArchivo.values

array([0.3       , 0.1       , 5.        , 3.14159265, 0.98776595])

In [35]:
#Podemos ver los valores del index igual que los valores
dataR.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
# A su vez también se puede acceder a cada uno individualmente
dataR[2]

5.0

In [37]:
#Y a su vez, también en una lista
dataR[2:4]

2    5.000000
3    3.141593
dtype: float64

In [38]:
#Ahora vamos a ponerle un nombre al index
dataRR=p.Series([0.3,0.1,5,np.pi,np.sin(np.sqrt(2))],index=['z','s','e','t','g'])
dataRR

z    0.300000
s    0.100000
e    5.000000
t    3.141593
g    0.987766
dtype: float64

In [39]:
#De igual forma
dataRR['e']

5.0

Podemos hacer un diccionario para utilizarse posteriormente en las series

In [40]:
dictado={'masa':8765432,'masa11':345678,'masa8':829734}
dataR2= p.Series(dictado)
dataR2

masa      8765432
masa11     345678
masa8      829734
dtype: int64

In [41]:
#De aquí se puede usar todo lo anterior
dataR2['masa']

8765432

In [42]:
dataR2['masa':'masa11']

masa      8765432
masa11     345678
dtype: int64

In [43]:
#la serie puede ser escalar, llenado todo el index
p.Series(23,index=[321,12312,23121])

321      23
12312    23
23121    23
dtype: int64

In [44]:
#Otro formato es:
p.Series({7:'x',3:'r'})

7    x
3    r
dtype: object

In [45]:
#Podemos pedirle que impreme solo algunos index
p.Series({7:'x',3:'r',6:'g'},index=[7,6])

7    x
6    g
dtype: object

In [46]:
#Podemos mezclar tablas
tabla=p.DataFrame({'dataR':dataR,'dataR2':dataR2})
tabla

           dataR     dataR2
0       0.300000        NaN
1       0.100000        NaN
2       5.000000        NaN
3       3.141593        NaN
4       0.987766        NaN
masa         NaN  8765432.0
masa11       NaN   345678.0
masa8        NaN   829734.0

Dado que en dataR y dataR2 no tienen valores en común, imprime uno después de otro, por otro lado, si tienen datos en común, sólo mezcla los datos.

In [47]:
#También podemos imprimir el index del anterior
tabla.index

Index([0, 1, 2, 3, 4, 'masa', 'masa11', 'masa8'], dtype='object')

In [48]:
#También las columnas
tabla.columns

Index(['dataR', 'dataR2'], dtype='object')

In [49]:
#De igual forma podemos imprimir solo una(s) columnas
tabla['dataR2']

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
masa      8765432.0
masa11     345678.0
masa8      829734.0
Name: dataR2, dtype: float64

Podemos hacer una lista con un ciclo para llenarlo

In [50]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
p.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [52]:
#Podemos sacar transpuesta de una tabla
tabla.T

          0    1    2         3         4       masa    masa11     masa8
dataR   0.3  0.1  5.0  3.141593  0.987766        NaN       NaN       NaN
dataR2  NaN  NaN  NaN       NaN       NaN  8765432.0  345678.0  829734.0

In [55]:
#Para concatenar dos series sea el ejemplo
x = [1, 2, 3]
z = [7, 8, 9]
np.concatenate([x, z])

array([1, 2, 3, 7, 8, 9])